
@{
    ViewBag.Title = "ViewServices";
    Layout = "~/Views/Shared/_LayoutDashboardVendor.cshtml";
    string message = @ViewBag.Message;
}

@if (message == "AddService")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        //swal("Order sent successfully", "", "success");
        swal({
            title: "Service add successfully",
            icon: "success",
        });
    </script>
}
else if (message == "NotAddservice")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "OOPS! Service not add",
            text: "Please Try again.",
            icon: "error",
        });
    </script>
}
else if (message == "InUse")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Service Is In Use!",
            text: "This Service can't be Deleted",
            icon: "warning",
        });
    </script>
}
else if (message == "Deleted")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Service Deleted successfully",
            icon: "success",
        });
    </script>
}
else if (message == "NotEdited")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Service can't Edit!",
            icon: "warning",
        });
    </script>
}
else if (message == "Edited")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Service Edited successfully",
            icon: "success",
        });
    </script>
}

<div class="modal fadeIn" id="ServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background:#61616161;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- form start -->
                <!-- form end -->
            </div>
        </div>
    </div>
</div>

<!-- start page inner -->
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Services</h3>
    </div>
    <!-- start page main wrapper -->
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">


                <div class="card card-white">

                    <div class="card-body">
                        <a class="btn btn-primary float-right mb-3" href="@Url.Action("CreateServices","VendorDashboard")" role="button"><i class="fa fa-plus"></i> Add New Service</a>
                        <div class="table-responsive invoice-table">
                            <table class="table" id="Services">
                                <thead>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Service Type</th>
                                        <th>Fuel Type</th>
                                        <th>Unit Type</th>
                                        <th>Service Rate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div id="ajax-loader" class="LockOn" style="display:none">
                                    </div>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row -->
    </div>
    <!-- end page main wrapper -->
    <div class="page-footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> Kaam Waley All rights reserved.
        </p>
    </div>
</div>
<!-- end page inner -->

@section scripts{
    <script>

        $(document).ready(function () {
            var Table = $("#Services").DataTable();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ServiceData")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                "beforeSend": function () { $('#ajax-loader').show() },
                "complete": function () { $('#ajax-loader').hide() },
                success: function (services) {
                    console.log(services);

                    services.map((item, index) => {

                        Table.row.add([
                            item.ServiceName,
                            item.ServiceType,
                            item.FuelType,
                            item.UnitType,
                            item.ServiceRate,
                            item.btns
                        ]).draw(false);
                    });
                },
                error: function (xhr, status) {
                    console.log(xhr, status);
                }
            });
             });

    function OpenDeleteForm(ID) {

    var $buttonClicked = $(this);
    var id = ID;
    //alert(id);
    //alert(ID);
    $('#ServiceModal .modal-body').html('Loading.....');
    $('#ServiceModal .modal-title').html('Are You Sure You Want To Delete This Record?');
    var options = { "backdrop": "static", keyboard: true };
    $('#ServiceModal').modal(options);
    $('#ServiceModal').modal('show');
    $.ajax({
    type: "GET",
    url: '/VendorDashboard/ServicesDelete',
    contentType: "application/json; charset=utf-8",
    data: { "ID": ID },
    datatype: "html",
    "beforeSend": function () { $('#ajax-loader').show() },
    "complete": function () { $('#ajax-loader').hide() },
    success: function (data) {
    //$('#exampleModal .ajax-loader').hide();
    $('#ServiceModal .modal-body').html(data);
    },
    error: function (xhr, status) {
    $('#ServiceModal ajax-loader').hide(),
    $.notify(status, "error");
    }
    });
    }
    function OpenEditForm(ID) {

    var $buttonClicked = $(this);
    var id = ID;
    //alert(id);
    //alert(ID);
    $('#ServiceModal .modal-body').html('Loading.....');
    $('#ServiceModal .modal-title').html('Edit');
    var options = { "backdrop": "static", keyboard: true };
    $('#ServiceModal').modal(options);
    $('#ServiceModal').modal('show');
    $.ajax({
    type: "GET",
    url: '/VendorDashboard/ServicesEdit',
    contentType: "application/json; charset=utf-8",
    data: { "ID": ID },
    datatype: "html",
    "beforeSend": function () { $('#ajax-loader').show() },
    "complete": function () { $('#ajax-loader').hide() },
    success: function (data) {
    console.log(data);
    //$('#exampleModal .ajax-loader').hide();
    $('#ServiceModal .modal-body').html(data);
    },
    error: function (xhr, status) {
    console.log(xhr, status);
    $('#ServiceModal ajax-loader').hide(),
    $.notify(status, "error");
    }
    });
    }
    </script>
}



