@{
    Layout = null;
}
<ul class="dropdown-menu dropdown-lg dropdown-content">
    <li class="drop-title" id="notification">Notifications<span></span><a href="#" class="drop-title-link"><i class="fa fa-angle-right"></i></a></li>
    <li class="slimscroll dropdown-notifications" id="Notifications">
        <ul class="list-unstyled dropdown-oc" id="Update">
            
        </ul>
    </li>
</ul>



