
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start about section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="padding-30px-right">

                    <h4 class="font-weight-600">Welcome to Kaam Waley</h4>

                    <p class="margin-10px-bottom">
                        KaamWala.pk is a service providing platform that provides you a <span class="font-weight-600">
                        professional and experienced
                        generator, Ups, AC, Solar System, and CCTV maintenance and installation services.
                        </span>
                            We give
                            our clients unparalleled cost <span class="font-weight-600">
                            without compromise on quality</span>, all while guaranteeing the most
                            extreme worth for-cash.
                            We are available 7/24 to provide you best quality services
                            for public & private clients with affordable rate.
                        </p>
                    <p>We are available 7/24 to provide you best quality services.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12 sm-display-none">
                <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="../img/content/about-04.jpg">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
<!-- start counter section -->
<section class="parallax" data-overlay-dark="7" data-background="../img/bg/bg12.jpg">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12 xs-margin-20px-bottom">
                <div class="story-video">

                    <div class="text-center center-col absolute-middle-center z-index-1">
                        <a class="video video_btn" href="~/video/bg-video.mp4">
                            <i class="fas fa-play font-size18 xs-font-size16"></i>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-7 col-sm-12 col-12">

                <h4 class="text-white font-weight-600">Why Choose Us?</h4>
                <div class="row">
                    
                    <div class="col-md-6">
                            <p class="text-light">
                                We have persevering, knowledgeable, and experienced engineers who are set up to help with
                                any kind of troubleshooting that you are struggling with it.
                            </p>
                     </div>
                    <div class="col-md-6">
                            <li class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">Quick Response</li>
                            <li class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">Easy To Order</li>
                            <li class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">Low and Affordable Prices</li>
                            <li class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">Quality Services</li>
                        
                    </div>
                </div>
                <div class="separator-line-horrizontal-full bg-white opacity2 margin-50px-tb md-margin-40px-tb sm-margin-30px-tb xs-margin-25px-tb"></div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">

                            <h4 class="countup text-white display-block">1826</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Visitors</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">875</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Clients</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">1412</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Awards</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end counter section -->
<!-- start what we do section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3>What We Do</h3>
        </div>
        <div class="row feature-boxes-container">

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-layers font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">Online Booking:</h4>
                    <div class="sepratar"></div>
                    <p>
                        Our experts are always available to resolve the problem by book our online services and
                        schedule your order as your preferred time, after performing work client can get E-Invoice.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-genius font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                        Customer Services
                    </h4>
                    <div class="sepratar"></div>
                    <p>
                        Our friendly and educated customer service representatives are available for you on our
                        Helpline & Social media platforms.
                    </p>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-hotairballoon font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                        Subcriptions:
                    </h4>
                    <div class="sepratar"></div>
                    <p>
                        We have different subscriptions for services: Generator, UPS, AC, Solar Systems, and CCTV
                        maintenance Packages.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end what we do section -->
<!-- start team section -->

<!-- end team section -->
