@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string message = @ViewBag.Message;
}
<div id="fb-root"></div>

@if (message == "success"){
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        //swal("Order sent successfully", "", "success");
        swal({
            title: "Order sent successfully",
            icon: "success",
        });
    </script>
}else if (message == "error")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "OOPS! Order can't sent",
            text: "Please Try again.",
            icon: "error",
        });
    </script>
}@if (message == "LogInSuccess")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Login successful !",
            icon: "success",
        });
    </script>
}@if (message == "Emailsuccess")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Email sent successfully !",
            icon: "success",
        });
    </script>
}@if (message == "QCallSucceed")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Quick Call Request sent successfully",
            icon: "success",
        });
        CloseForm();
    </script>
}
<!--start packages Service-->
<!--end packages Service-->
<!--start side quick call-->
<a id="quickCall">
    Get a Quick Call
</a>
<div id="QuickCallForm">
    <div class="section-heading">
        <h2>Get a Quick Call</h2>

    </div>
    <span id="quickCallClose" onclick="CloseForm()">&times;</span>


    @Html.Partial("pvQuickCall")
    @*@{Html.RenderAction("pvQuickCall");}*@
</div>
<!--end side quick call-->

<div class="wrapModal">
    <!-- start revolution slideshow-->
    <div id="rev_slider_151_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="blur-effect-slider" data-source="gallery" style="background-color:#2d3032;padding:0px;">

        <video autoplay muted loop style="width:100%;">
            <source src="~/video/HomeVideo.mp4" type="video/mp4" />
        </video>
        <div id="reviewBanner" class="col-lg-5 d-lg-block d-md-none d-sm-none" style="">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-891be47f-f968-485f-b882-141bab11e9a7"></div>

        </div>
    </div>
    <!-- end revolution slideshow-->
    <!--start products and services block-->
    <section id="productServices" style="background-color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="section-heading">
                            <h3 class="text-uppercase">Services</h3>
                            <p>
                                KaamWaley is a service providing company and intends to add value to its customer’s lives. To
                                book an appointment, you may fill our form available on our website. A customer representative
                                will contact you shortly.
                            </p>

                        </div>
                        @{Html.RenderAction("PVservices");}

                        <!-- end -->
                    </div>
                </div>
                <!-- Product block start-->
                <!-- Product block end-->
            </div>
        </div>
    </section>

    <!--end products and services block-->
    <!-- start about us section -->
    <!-- end about us section -->
    <!-- start service section -->
    <!-- end service section -->
    <!-- start advice section -->
    <!-- end advice section -->
    <!-- start pricing table -->
    <section>
        <div class="container">
            <div class="section-heading">
                <h3 class="text-uppercase">The Best Packages For You Will Coming Soon</h3>
                @*<p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum market.</p>*@
            </div>


            <div class="pricing-content">
                <div class="row">

                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="single-plan text-center" data-toggle="modal" data-target="#exampleModalLongPackage1" id="PackageOne">
                            <div class="head-plan bg-dark-gray">
                                <h4 class="font-size22 sm-font-size20 xs-font-size18">Silver</h4>
                            </div>
                            <div class="body-plan">
                                <div class="price-plan">
                                    <h3><sup>$</sup>49</h3>
                                    <span>Monthly</span>
                                    <i class="icon-briefcase"></i>
                                </div>
                                <div class="feat-plan">
                                    <ul>
                                        <li>Business Analysing</li>
                                        <li>Finance Analysing</li>
                                        <li>Custom Management</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-plan">
                                <a href="#!" class="butn medium">
                                    <span>Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="single-plan text-center">
                            <div class="head-plan bg-theme">
                                <h4 class="font-size22 sm-font-size20 xs-font-size18">Golden</h4>
                            </div>
                            <div class="body-plan">
                                <div class="price-plan">
                                    <h3><sup>$</sup>39</h3>
                                    <span>Quaterly</span>
                                    <i class="icon-lightbulb"></i>
                                </div>
                                <div class="feat-plan">
                                    <ul>
                                        <li>Business Analysing</li>
                                        <li>Finance Analysing</li>
                                        <li>Growth Tracking</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-plan">
                                <a href="#!" class="butn medium">
                                    <span>Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="single-plan text-center">
                            <div class="head-plan bg-dark-gray">
                                <h4 class="font-size22 sm-font-size20 xs-font-size18">Premium</h4>
                            </div>
                            <div class="body-plan">
                                <div class="price-plan">
                                    <h3><sup>Rs.</sup>30,000</h3>
                                    <span>Annually</span>
                                    <i class="icon-layers"></i>
                                </div>
                                <div class="feat-plan">
                                    <ul>
                                        <li>Free Service/Labor Charges</li>
                                        <li></li>
                                        <li>Training & Workshop</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-plan">
                                <a href="#!" class="butn medium">
                                    <span>Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end pricing table -->
    <!-- start contact info section -->
    <section class="bg-light-gray" data-scroll-index="6">
        <div class="container">

            <div class="section-heading">
                <h3 class="text-uppercase">Get in Touch</h3>
                <p class="width-55 sm-width-75 xs-width-95">We are available 24/7 by e-mail and phone. You can also ask a question about our services through our contact form that we regularly provide.</p>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-12 order-2 order-lg-1">

                    @Html.Partial("pvGetInTouch")

                </div>

                <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                    <div class="contact-info padding-50px-left md-padding-30px-left sm-no-padding-left sm-margin-30px-bottom">
                        <div class="item bg-white">
                            <span class="icon"><i class="fas fa-phone text-theme-color"></i></span>
                            <div class="cont">
                                <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">Phone: </h6>
                                <p>021 34527965</p>
                            </div>
                        </div>
                        <div class="item bg-white">
                            <span class="icon"><i class="fas fa-map-marker-alt text-theme-color"></i></span>
                            <div class="cont">
                                <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">Address: </h6>
                                <p class="no-margin">suite# 304 & 307, anum blessings, KCHSU, Sharah e faisal, Karachi. </p>
                            </div>
                        </div>
                        <div class="item bg-white">
                            <span class="icon"><i class="fas fa-envelope text-theme-color"></i></span>
                            <div class="cont">
                                <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">Email: </h6>
                                <p>info@KaamWaley.com</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- end contact info section -->
    <!-- start clients section -->
    <!-- end clients section -->
</div>
<div class="modal fadeIn" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background:#61616161;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Service Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- form start -->
                <!-- form end -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        function OpenModelForm(ServiceTypeID) {
            var id = ServiceTypeID;
            $('#exampleModal .modal-body').html('Loading.....');
            var options = { "backdrop": "static", keyboard: true };
            $('#exampleModal').modal(options);
            $('#exampleModal').modal('show');
            $.ajax({
                type: "GET",
                url: '/Home/CustomerOrder',
                contentType: "application/json; charset=utf-8",
                data: { "serviceTypeId": ServiceTypeID },
                datatype: "html",
                success: function (data) {
                    //$('#exampleModal .ajax-loader').hide();
                    $('#exampleModal .modal-body').html(data);

                },
                error: function (xhr, status) {
                    $('#exampleModal ajax-loader').hide(),
                        console.log(status, "error");
                }
            });
        }
    </script>
}