@model IEnumerable<WebAppSastiServices.Models.DB.STPContractType>

@foreach (var item in Model)
{
    <div class="col-lg-4 sm-margin-30px-bottom">
        <div class="single-plan text-center" data-toggle="modal" data-target="#exampleModalLongPackage1" id="PackageOne">
            <div class="head-plan bg-dark-gray">
                <h4 class="font-size22 sm-font-size20 xs-font-size18">@item.Name</h4>
            </div>
            <div class="body-plan">
                <div class="price-plan">
                    <span>Monthly</span>
                    <i class="icon-briefcase"></i>
                </div>
                <div class="feat-plan">
                    <ul>
                        @{Html.RenderAction("PVConServices", new { contypeId = @item.ID });}
                    </ul>
                </div>
            </div>
            <div class="footer-plan">
                <a href="#!" class="butn medium">
                    <span>Book Now</span>
                </a>
            </div>
        </div>
    </div>
                            }